In [ ]:
WARMUP PROBLEMS!!!!!!!!!!!!!!!!!!

In [ ]:
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [31]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)

    else:
        return max(a,b)

In [35]:
lesser_of_two_evens(2,4)

2

In [34]:
lesser_of_two_evens(2,5)

5

In [ ]:
ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [43]:
def animal_crackers(text):
    wordlist = text.lower().split()

    first_word = wordlist[0]
    second_word = wordlist[1]

    if first_word[0] == second_word[0]:
        return True
    else:
        return False

In [44]:
animal_crackers('Levelheaded llama')

True

In [45]:
animal_crackers('Crazy Kangaroo')

False

In [ ]:
MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [46]:
def makes_twenty(a,b):
    if a == 20 or b == 20 or a+b == 20:
        return True
    else:
        return False

In [47]:
makes_twenty(20,10)

True

In [48]:
makes_twenty(12,8)

True

In [49]:
makes_twenty(2,3)

False

In [ ]:
LEVEL 1 PROBLEMS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
 
old_macdonald('macdonald') --> MacDonald
Note: 'macdonald'.capitalize() returns 'Macdonald'

In [53]:
def old_macdonald(name):
    first_part = name[0].upper() + name[1:3]
    second_part = name[3].upper() + name[4:]

    return first_part + second_part

In [54]:
old_macdonald('macdonald')

'MacDonald'

In [55]:
old_macdonald('bernardo')

'BerNardo'

In [ ]:
MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. 
For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [68]:
def master_yoda(text):
    yoda_list = text.split()
    yoda_list.reverse()

    return ' '.join(yoda_list)

In [69]:
master_yoda('puta que pariu')

'pariu que puta'

In [70]:
master_yoda('I am home')

'home am I'

In [71]:
master_yoda('We are ready')

'ready are We'

In [ ]:
ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
NOTE: abs(num) returns the absolute value of a number

In [72]:
def almost_there(n):
    if (abs(100-n) <= 10) or (abs(200-n) <= 10):
        return True
    else:
        return False

In [73]:
almost_there(209)

True

In [74]:
almost_there(150)

False

In [ ]:
LEVEL 2 PROBLEMS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [9]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    else:
        return False

In [10]:
has_33([1, 3, 3])

True

In [11]:
has_33([1, 3, 1, 3])

False

In [12]:
has_33([3, 1, 3])

False

In [ ]:
PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [13]:
def paper_doll(text):
    result = ''

    for char in text:
        result += char*3
    return result

In [14]:
paper_doll('Hello')

'HHHeeellllllooo'

In [15]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [28]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return(sum([a,b,c]))
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10

    else:
        return('BUST')

In [30]:
blackjack(11,15,3)

19

In [ ]:
HOMEWORK!!!!!!!!!!

In [ ]:
Write a function that computes the volume of a sphere given its radius.

The volume of a sphere is given as

In [75]:
def vol(rad):
    vol = (4/3) * 3.14 * rad ** 3
    return vol

In [76]:
vol(2)

33.49333333333333

In [ ]:
Write a function that checks whether a number is in a given range (inclusive of high and low)

In [145]:
def ran_check(num,low,high):
    if num >= low and num <= high:
        print(f'{num} is in the range beetween {low} and {high}')
    else:
        print(f'{num} is NOT in the range beetween {low} and {high}')

In [146]:
ran_check(5,1,10)

5 is in the range beetween 1 and 10

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.
# estou em dúvida se precisarei utilizar .split() para transformar o texto em lista, ou não.
# devo usar um for loop para cada caracter na string, e determinar se eles são maiusculos ou minusculos usando o método isupper() ou islower()
# vou criar 2 variaveis de 

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33
HINT: Two string methods that might prove useful: .isupper() and .islower()

If you feel ambitious, explore the Collections module to solve this problem!

In [147]:
def up_low(s):
    low_char = 0
    upper_char = 0

    for char in s:
        if char.isupper():
            upper_char += 1
        elif char.islower():
            low_char += 1
        else:
            pass

    print(f'No. of Lower case Characters : {low_char}') 
    print(f'No. of Upper case characters : {upper_char}')

In [148]:
s = 'Fala comigo rapaziadA!!!!'

In [149]:
up_low(s)

No. of Lower case Characters : 17
No. of Upper case characters : 2

In [ ]:
Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [138]:
def unique_list(lst):
    lst_setted = set(lst)
    setted_list = list(lst_setted)

    return setted_list

In [139]:
unique_list([1,1,2,2,3,3,4])

[1, 2, 3, 4]

In [ ]:
Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [142]:
def multiply(numbers):  
    result = 1 
    for num in numbers:
        result *= num
    return result

In [144]:
multiply([1, 2, 3, -4])

-24

In [ ]:
Write a Python function that checks whether a word or phrase is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, 
e.g., madam,kayak,racecar, or a phrase "nurses run". 
Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces.
Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [155]:
def palindrome(s):
    s = s.replace(' ', '')
    if s == s[::-1]:
        return True
    else:
        return False

In [156]:
palindrome('helleh')

True

In [ ]:
///////////////////////////////////////////////////////////////////////////////////

In [ ]:
MILESTONE PROJECT 1!!!!!!!!!!!!!!

In [1]:
print([1,2,3])

[1, 2, 3]

In [4]:
def display_list(mylist):
    print(mylist)

In [5]:
mylist = [0,1,2,3,4,5,6,7,8,9,10]

display_list(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
def user_choice():

    # This original choice value can be anything that isn't an integer
    choice = 'wrong'

    # While the choice is not a digit, keep asking for input.
    while choice.isdigit() == False:
        
        # we shouldn't convert here, otherwise we get an error on a wrong input
        choice = input('Choose a number: ')

    # We can convert once the while loop above has confirmed we have a digit.
    return int(choice)

In [16]:
user_choice()

Choose a number:  123

123

In [17]:
game_list = [0,1,2]

In [25]:
def display_game(game_list):
    print('Here is the current list: ')
    print(game_list)

In [19]:
display_game(game_list)

Here is the current list:
[0, 1, 2]

In [27]:
def position_choice():

    choice = 'wrong'

    while choice not in ['0','1','2']:
        choice = input('Pick the position 0, 1 or 2: ')

        if choice not in ['0','1','2']:
            print('Sorry, invalid choice!')

    return int(choice)

In [28]:
position_choice()

Pick the position 0, 1 or 2:  1

1

In [30]:
def replacement_choice(game_list,position):
    
    user_placement = input('type a string to place at position: ')

    game_list[position] = user_placement

    return game_list

In [31]:
replacement_choice(game_list,1)

type a string to place at position:  test

[0, 'test', 2]

In [32]:
def gameon_choice():

    choice = 'wrong'

    while choice not in ['Y','N']:
        choice = input('Keep playing? (Y or N) ')

        if choice not in ['Y','N']:
            print("Sorry, I don't understand, please choose Y or N ")

    if choice == "Y":
        return True
    else:
        return False

In [33]:
gameon_choice()

Keep playing? (Y or N)  Y

True

In [34]:
game_on = True
game_list = [0,1,2]

while game_on: 

    display_game(game_list)

    position = position_choice()

    game_list = replacement_choice(game_list, position)

    display_game(game_list)

    game_on = gameon_choice()

Here is the current list:
[0, 1, 2]

Pick the position 0, 1 or 2:  two

Sorry, invalid choice!

Pick the position 0, 1 or 2:  aisjd

Sorry, invalid choice!

Pick the position 0, 1 or 2:  2
type a string to place at position:  my choice

Here is the current list:
[0, 1, 'my choice']

Keep playing? (Y or N)  y

Sorry, I don't understand, please choose Y or N

Keep playing? (Y or N)  Y

Here is the current list:
[0, 1, 'my choice']

Pick the position 0, 1 or 2:  0
type a string to place at position:  iajsd

Here is the current list:
['iajsd', 1, 'my choice']

Keep playing? (Y or N)  N

In [ ]:
PRO | Corral

In [ ]:
Step 1: Write a function that can print out a board. 
Set up your board as a list, where each index 1-9 corresponds with a number on a number pad, so you get a 3 by 3 board representation.

In [68]:
from IPython.display import clear_output

def display_board(board):
    clear_output()
    print(board[7]+'|'+board[8]+'|'+board[9])
    print(board[4]+'|'+board[5]+'|'+board[6])
    print(board[1]+'|'+board[2]+'|'+board[3])

In [69]:
test_board = ['#','X','O','X','O','X','O','X','O','X']
display_board(test_board)

X|O|X
O|X|O
X|O|X

In [72]:
#Step 2: Write a function that can take in a player input and assign their marker as 'X' or 'O'. 
#Think about using while loops to continually ask until you get a correct answer.

In [73]:
def player_input():
    marker = ''

    while marker not in ['X', 'O']:
        marker = input('Player 1, choose between X or O: ').strip().upper()

    if marker not in ['X', 'O']:
        print('Sorry, invalid choice.')

    p1 = marker
    p2 = '0' if p1 == 'X' else 'X'

    return p1, p2

In [75]:
player_input()

Player 1, choose between X or O:  x

('X', '0')

In [76]:
#Step 3: Write a function that takes in the board list object, 
#a marker ('X' or 'O'), and a desired position (number 1-9) and assigns it to the board.

In [77]:
def place_marker(board, marker, position):

    board[position] = marker

In [78]:
place_marker(test_board,'$',4)
display_board(test_board)

X|O|X
$|X|O
X|O|X

In [ ]:
#Step 4: Write a function that takes in a board and a mark (X or O) and then checks to see if that mark has won.

In [ ]:
def win_check(board, mark):
    
    board[1] == mark and board[2] == mark and board[3] == mark)

In [ ]:
win_check(test_board,'X')

In [ ]:
/////////////////////////////////

In [ ]:
Object Oriented Programming - Exercices

In [6]:
# fill in the class
class Cylinder:
    pi = 3.14
    
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius
        
    def volume(self):
      return self.height * (self.radius**2) * Cylinder.pi
    
    def surface_area(self):
        return (2 * Cylinder.pi * self.radius * self.height) + (2 * Cylinder.pi * (self.radius**2))

In [8]:
# EXAMPLE OUTPUT
c = Cylinder(2,3)

In [9]:
c.volume()

56.52

In [10]:
c.surface_area()

94.2

In [21]:
class Line():
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    
    def slope(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2-y1)/(x2-x1)

In [22]:
coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [23]:
li.distance()

9.433981132056603

In [24]:
li.slope()

1.6

In [186]:
class Account:
    def __init__(self,owner,balance):
        self.owner = owner
        self.balance = balance

    def __str__(self):
        return f"Account Owner: {self.owner}\nAccount Balance: {self.balance}"

    def deposit(self,value):
        if value <= 0:
            print("Deposit must be positive")
            return self.balance 
        
        self.balance = self.balance + value
        print('Deposit Accepted')
        return self.balance

    def withdraw(self,value):
        if value <= 0:
            print("Withdrawal must be positive")
            return self.balance
        if value > self.balance:
            print("Funds Unavailable!")
            return self.balance
        
        self.balance = self.balance - value
        print('Withdrawal Accepted')
        return self.balance

In [187]:
acct1 = Account('Jose',100)

In [188]:
print(acct1)

Account Owner: Jose
Account Balance: 100

In [189]:
acct1.owner

'Jose'

In [190]:
acct1.balance

100

In [191]:
acct1.deposit(50)

Deposit Accepted

150

In [192]:
acct1.balance

150

In [193]:
acct1.withdraw(50)

Withdrawal Accepted

100

In [194]:
acct1.balance

100

In [195]:
acct1.withdraw(500)

Funds Unavailable!

100

In [1]:
for i in ['a','b','c']:
    print(i**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [16]:
try:
    for i in ['a','b','c']:
        print(i**2)
except:
        print("valor não numérico!")

valor não numérico!

In [6]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [14]:
try:
    x = 5
    y = 0
    z = x/y

except ZeroDivisionError:
    print("you can't divide by 0!")

finally:
    print("all done!")

you can't divide by 0!
all done!

In [13]:
def ask():
    
    while True:
        try:
            val = int(input("Please enter a number: "))
            print (val**2)
        except ValueError:
            print("This is not a number!:")
            continue
        else:
            print("Nice! You did it!")
            break

In [12]:
ask()

Please enter a number:  q

This is not a number!

Please enter a number:  s

This is not a number!

Please enter a number:  2

4
Nice! You did it!